<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>

<aside layout:fragment="aside-content">
    <a id="integration-link" class="btn btn-outline-primary" th:href="@{/movies-rating-integration}">
        Linking Movies Rating
        <img style="width: 2em; height: 2em;" th:src="@{/assets/images/movies-rating-logo.svg}"/>
    </a>


    <table id="movies" class="table text-center hide">
        <thead>
        <th>Movie</th>
        <th>Rating</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}">Wolverine</td>
            <td th:text="${movie.rating}">5</td>
            <td>
                <a href="#" class="text-primary" th:onclick="'shareMovie(\'' +${movie.toJson()} +'\')'">
                    post <i class="fas fa-share-square"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</aside>

<main layout:fragment="content" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 ">
    <article class="d-flex justify-content-center mb-3">
        <div class="col-md-6">

            <form class="form" th:action="@{/feed}" method="post" th:object="${postForm}">

                <div class="form-group">
                    <textarea th:classappend="${#fields.hasErrors('content')? 'is-invalid': ''}" th:field="*{content}"
                              class="form-control" placeholder="What are you thinking?" rows="5"></textarea>

                    <div th:if="${#fields.hasErrors('content')}">
                        <span class="text-danger" th:each="error : ${#fields.errors('content')}"
                              th:text="${error}"></span>
                    </div>
                </div>

                <button class="btn btn-info btn-block">Post</button>
            </form>
        </div>
    </article>

    <article class="d-flex justify-content-center">
        <div class="col-md-6" th:id="posts">
            <div th:each="post : ${posts}">
                <div th:replace="~{components :: post(post=${post})}"></div>
            </div>
        </div>
    </article>
</main>
<script layout:fragment="pre-body-script">


    window.onload = () => {

        let fragment = window.location.hash.substring(1);

        let response = {};
        fragment.split("&").map(v => v.split("=")).forEach(value => response[value[0]] = value[1]);

        if( response.hasOwnProperty("access_token") ){

            $.ajax({
               method: 'GET',
                headers: {
                    'authorization': 'Bearer ' + response.access_token,
                    'Accept': 'application/json'
                },

                url: "http://localhost:8080/api/v2/ratings",
                success: (movies) => {

                   window.movies = movies;


                   let link = $("#integration-link");
                   link.addClass('hide');

                   let table = $("#movies");

                   table.removeClass('hide');

                   movies.forEach((movie) => {

                       let tbody = table.find('tbody');

                       const { movie:title, rating } = movie;

                        let tr = $(` <tr>
                            <td>${title}</td>
                            <td>${rating}</td>
                            <td>
                                <a href="#" class="text-primary" onclick="shareMovie('${title}')">
                                    post <i class="fas fa-share-square"></i>
                                </a>
                            </td>
                        </tr>`);

                        tbody.append(tr);
                   })

                }
            });

        }

    };

    function like(id) {
        let headers = new Headers();

        headers.append('[[${_csrf.headerName}]]', '[[${_csrf.token}]]');

        let request = {method: "PUT", headers: headers, credentials: "same-origin"}


        fetch("/feed/" + id, request)
            .then((response) => {
                if (response.ok) {
                    return response.text();
                }

                return Promise.reject("Server response http status: " + response.status);
            })
            .then((html) => {
                let post = document.querySelector("#post_" + id);
                post.outerHTML = html;
            });

    }

    function shareMovie(title){
        let headers = new Headers();

        let movie = window.movies.find(m => m.movie === title);

        headers.append('[[${_csrf.headerName}]]', '[[${_csrf.token}]]');
        headers.append('Content-Type', 'application/json');

        let request = {method: "PUT", body: JSON.stringify(movie), headers: headers, credentials: "same-origin"}

        fetch('/feed', request)
            .then((response) => {
                if (response.ok) {
                    return response.text();
                }

                return Promise.reject("Server response http status: " + response.status);
            })
            .then((html) => {
                let posts = document.querySelector('#posts');
                posts.insertAdjacentHTML('afterBegin', html);
            })

    }
</script>
</body>
</html>