<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ratings</title>
</head>
<body>
<main layout:fragment="content" class="col-md-6">
    <div class="alert alert-success alert-dismissible fade show" th:if="${#request.getAttribute('message') != null}">
        <span th:text="${#request.getAttribute('message')}"></span>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <a class="btn btn-primary mb-3" th:href="@{/ratings/new}">New</a>

    <table class="table table-hover">
        <thead>
        <th>Title</th>
        <th>Rating</th>
        <th class="text-center">Actions</th>
        </thead>

        <tbody>
        <tr th:each="rating : ${ratings}" th:id="'rating_'+${rating.id}">
            <td th:text="${rating.movie.title}">Start wars</td>
            <td th:text="${rating.value}">4</td>
            <td class="d-flex justify-content-around col-md-12">
                <a th:href="@{/ratings/__${rating.id}__}" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <button type="button" href="#" th:onclick="'remove('+${rating.id}+')'" class="btn btn-link text-danger">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<script layout:fragment="pre-body-script">
    function remove(id) {
        event.preventDefault();

        let headers = new Headers();

        headers.append('[[${_csrf.headerName}]]', '[[${_csrf.token}]]');

        fetch("/ratings/" + id, {method: "DELETE", headers: headers, credentials: "same-origin"})
            .then( (response) => {
                if (response.ok){
                    let line = document.querySelector("#rating_" + id);
                    line.parentNode.removeChild(line)
                }
            });

    }
</script>
</body>
</html>