<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<main layout:fragment="content" class="col-md-4">
    <form method="post" th:action="@{/admin/movies}" th:object="${movieForm}">
        <input th:if="${movieForm.id != null}" type="hidden" th:field="*{id}">

        <div class="form-group">
            <input th:classappend="${#fields.hasErrors('title')? 'is-invalid': ''}" placeholder="Title" class="form-control" id="title" th:field="*{title}"/>
            <div th:if="${#fields.hasErrors('title')}">
                <span class="text-danger" th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>
            </div>
        </div>
        <button class="btn btn-primary btn-block">Save</button>
    </form>
</main>
</body>
</html>