<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Social</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>

<nav sec:authorize="${authenticated}" class="navbar navbar-expand-lg d-flex justify-content-between">
    <span class="navbar-brand">
        <a th:href="@{/feed}" class="nav-link">
            <img th:src="@{/assets/images/logo.svg}"> Socializing
        </a>
    </span>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>


<main class="d-flex justify-content-center pt-2">
    <div layout:fragment="content"></div>
</main>
<aside layout:fragment="aside-content" class="integration d-flex justify-content-center flex-column"></aside>
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script layout:fragment="pre-body-script"></script>
</body>
</html>