<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{users/layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<main layout:fragment="user-content">

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <div  class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text field-union-top"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control field-union-top" name="username" placeholder="Username">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text field-union-bottom"><i class="fas fa-key"></i></span>
                </div>
                <input class="form-control field-union-bottom" name="password" type="password" placeholder="Password">
            </div>

        </div>

        <div>
            <button class="btn btn-info btn-block">Login</button>

            <div class="d-flex justify-content-between">
                <hr style="border-top: 2px solid rgba(0,0,0,0.3);" class="col-md-5"/>
                    <span>or</span>
                <hr style="border-top: 2px solid rgba(0,0,0,0.3);" class="col-md-5"/>
            </div>

            <a th:href="@{/sign-up}" class="btn btn-secondary btn-block">Sign-up</a>
        </div>
    </form>

    <div class="my-2 alert alert-success alert-dismissible fade show" th:if="${#request.getAttribute('message') != null}">
        <span th:text="${#request.getAttribute('message')}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${#request.getParameter('error')!= null}" class="my-3 alert alert-danger alert-dismissible fade show">
        <h5>Login fail</h5>
        <p>
            Your login attempt was not successful due to
        </p>
        <hr/>

        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            Invalid Credentials
        </p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</main>

</body>
</html>